{% extends 'base.html' %}
{%load static%}
{% load auth_extras %}


<!--<!DOCTYPE html>-->


{%block titlebar%}
  <title>add product attribute </title>
{%endblock%}

{% block page-head %}
    Product Attribute Page
{% endblock %}

{% block breadcrumb %}
    Product Attribute Page
{% endblock %}





{% block wrapper%}




<section class="content">
	  <div class="row">
	    <div class="col-12">
	      <div class="card">
	        <div class="card-header">
				<div class = "col-12">

					<a href="{% url 'custom_admin:AddProductAttribute' %}" class=" btn btn-primary float-right">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					<span><strong>Add</strong></span>
					</a>

				</div>

	          <h3 class="card-title">product attribute table</h3>
	        </div>
	        <!-- /.card-header -->
	        <div class="card-body">
	          <table id="example1" class="table table-bordered table-hover">
	            <thead>
	            <tr>
	              <th>id</th>
	              <th>name</th>
<!--	              <th>description_text</th>-->
	              <th>created by</th>
	              <th>created date</th>
	              <th>modify by</th>
	              <th>modify date</th>
				  <th>Edit/Delete</th>

	            </tr>
	            </thead>
	            <tbody>


	                {%for product_attribute in product_attributes %}
		                <tr>
		                  <td>{{ product_attribute.id }}</td>
		                  <td>{{ product_attribute.name }}</td>
<!--		                  <td>{{ product_attribute.description_text}}</td>-->
		                  <td>{{ product_attribute.created_by.get_full_name }}</td>
		                  <td>{{ product_attribute.created_date }}</td>
		                  <td>{{ product_attribute.modify_by.get_full_name }}</td>
		                  <td>{{ product_attribute.modify_date }}</td>
							{% if request.user|has_group:"admin" %}
						  <td>

							  <a href="{% url 'custom_admin:UpdateProductAttribute' product_attribute.id %}" class="btn btn-primary ">
                                <i class="fa fa-edit" aria-hidden="true"></i>

                                </a>
                                 <a href="#myModal-{{product_attribute.id}}" class="btn btn-danger" data-toggle="modal">
                                     <i class="fa fa-trash"></i>
                                 </a>

							  <div id="myModal-{{product_attribute.id}}" class="modal fade" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Confirmation</h5>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Do you want to delete product attribute ?</p>
<!--                                                <p class="text-secondary"><small>If you don't save, your changes will be lost.</small></p>-->
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                <a type="button" class="btn btn-danger" href="{% url 'custom_admin:DeleteProductAttribute' product_attribute.id %}" >Confirm</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

						  </td>
							{% endif %}
		                </tr>
	                {%endfor%}
	            </tbody>
	          </table>
	        </div>
	        <!-- /.card-body -->
	      </div>
	      <!-- /.card -->
	  </div>
	</div>
</section>
{% endblock %}

{%block extra%}
<!-- DataTables -->
<script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
<script>
  $(function () {
    $('#example1').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": true,
      "ordering": false,
      "info": false,
      "autoWidth": false,
    });
  });
</script>
{%endblock%}